.toolbar {
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.toolbar__title {
    flex-grow: 1;
    font-size: 20px;
}

.toolbar__search {
    width: 100px;
}

.table {
    padding: 5px;
}

.table__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom-color: #000;
    border-bottom-width: 1px;
}
